{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-",
    "^motion",
    "^../data",
    "^../interfaces",
    "^../../data",
    "^../../interfaces",
    "^./pages",
    "^../components",
    "^../../components",
    "^./hooks",
    "^~/icons",
    "^@(?!/)",
    "^[./]",
    ".*\\.scss$",
    ".*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
