{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-css-order"
  ],
  "importOrder": [
    "^react",
    "^react-",
    "^motion",
    "^../data",
    "^../interfaces",
    "^../../data",
    "^../../interfaces",
    "^./pages",
    "^../components",
    "^../../components",
    "^./hooks",
    "^~/icons",
    "^@(?!/)",
    "^[./]",
    ".*\\.scss$",
    ".*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "cssDeclarationSorterCustomOrder": [
    "position",
    "top",
    "left",
    "right",
    "bottom",
    "z-index",
    "",
    "max-width",
    "min-width",
    "width",
    "max-height",
    "min-height",
    "height",
    "margin",
    "padding",
    "",
    "display",
    "flex",
    "flex-direction",
    "flex-wrap",
    "grid",
    "grid-template-columns",
    "grid-template-rows",
    "gap",
    "column-gap",
    "row-gap",
    "justify-content",
    "justify-items",
    "align-content",
    "align-items",
    " ",
    "font",
    "font-family",
    "font-style",
    "font-size",
    "font-weight",
    "letter-spacing",
    "line-height",
    "text-align",
    "color",
    "",
    "border",
    "border-radius",
    "",
    "background",
    "background-color",
    "background-image",
    "background-repeat",
    "background-position",
    "background-size",
    "",
    "backdrop-filter",
    "visibility",
    "opacity",
    "",
    "transition",
    "transform",
    "animation",
    "cursor",
    "perspective"
  ],
  "cssOrderSeparation": true
}
