@use '../../variables' as var;

.blue-light-page-container {
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3vh 12vw 3vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../assets/images/backgrounds/blue-light-page/background_main.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .blue-light-trees-left,
  .blue-light-trees-right {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .blue-light-trees-left {
    left: -20px;
    background-image: url('../../assets/images/backgrounds/blue-light-page/trees_left.webp');
  }
  .blue-light-trees-right {
    right: 0;
    background-image: url('../../assets/images/backgrounds/blue-light-page/trees_right.webp');
  }

  .blue-light-main-title {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 2;
    width: 30%;
    height: 30%;

    h1 {
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/blue_light_images/logo.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .blue-light-page-content {
    position: relative;
    z-index: 10;
    width: clamp(690px, 690px, 690px);
    height: clamp(850px, 850px, 850px);
    display: flex;
    align-items: end;
    background-image: url('../../assets/images/backgrounds/blue-light-page/sphere.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .blue-light-links {
      grid-template-areas:
        '. . shampanskoe . .'
        'buter characters characters characters salut'
        'shar characters characters characters mandarin'
        '. . podarok . .';
      position: relative;
      bottom: 0;
      z-index: 10;
      max-width: 690px;
      width: 100%;
      max-height: 690px;
      height: 100%;
      display: grid;
      grid-template-columns: 170px 0px 1fr 0px 170px;
      grid-template-rows: 170px 170px 170px 170px;

      .blue-light-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 170px;
          width: 100%;
        }
      }

      .buter {
        grid-area: buter;
        position: relative;
        top: -80px;
        left: 60px;
        max-width: 170px;
      }

      .shampanskoe {
        justify-self: center;
        grid-area: shampanskoe;
        position: relative;
        top: -90px;
        max-width: 70px;
      }

      .salut {
        grid-area: salut;
        position: relative;
        top: -80px;
        right: 50px;
      }

      .characters {
        grid-area: characters;
        position: relative;
        top: -50px;
        width: 100%;
        height: 100%;
        img {
          max-width: 330px;
        }
      }

      .shar {
        grid-area: shar;
        position: relative;
        top: 20px;
        left: 30px;
      }

      .mandarin {
        grid-area: mandarin;
        position: relative;
        top: 20px;
        right: 20px;
      }

      .podarok {
        grid-area: podarok;
        position: relative;
      }
    }

    .blue-light-department-links {
      grid-template-areas:
        'top top top'
        'bottom bottom bottom';
      position: relative;
      bottom: 0;
      z-index: 10;
      max-width: 690px;
      width: 100%;
      max-height: 690px;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 345px 345px;
      justify-items: center;
      align-content: center;

      .top-department-text,
      .bottom-department-text {
        overflow: hidden;
        max-height: 345px;
        font-family: 'Shantell Sans', cursive;
        font-weight: 600;

        svg text {
          text-shadow: 3px 3px #3295d4;
          fill: rgb(255, 255, 255);
          font-size: 45px;
        }
      }

      .top-department-text {
        grid-area: top;
      }
      .bottom-department-text {
        grid-area: bottom;
      }

      .department-link-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .blue-light-department-link {
          max-width: 330px;
          width: 100%;
          max-height: 330px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: end;

          img {
            max-width: 330px;
            width: 100%;
          }

          .buter {
            position: relative;
            top: -80px;
          }

          .shampanskoe {
            position: relative;
            top: -40px;
            max-width: 70px;
          }

          .characters {
            position: relative;
            top: -20px;
          }
        }
      }
    }
  }
}
