@use '../../variables' as var;
@use 'swiper/css';
@use 'swiper/css/effect-cards';
@use 'swiper/css/effect-cube';
@use 'swiper/css/effect-fade';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/scrollbar';

.guess-song-game-round1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 80px;

  background-image: url('../../assets/images/backgrounds/guess-song/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .swiper-r1 {
    pointer-events: auto;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .guess-song-slide-r1 {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    border-radius: 18px;

    background-image: url('../../assets/images/guess_song_images/round1/slide_bg_r1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .guess-song-parallax-child-r1 {
      overflow: hidden;
      max-width: 350px;
      width: 100%;
      height: 100%;
      border-radius: 18px;

      .guess-song-image-r1 {
        box-shadow: 10px 10px 6px 2px rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background-color: rgba(255, 255, 255, 1);

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 18px;
        }
      }
    }
  }
}

.guess-song-game-round2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 80px;

  background-image: url('../../assets/images/backgrounds/guess-song/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.7);
  }

  .swiper-r2 {
    position: relative;
    z-index: 3;
    max-width: 530px;
    width: 100%;
    height: 100%;

    .guess-song-slide-r2 {
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        aspect-ratio: 8 / 10;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
      }
    }
  }
}

.guess-song-game-round4 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 80px;

  background-image: url('../../assets/images/backgrounds/guess-song/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.7);
  }

  .swiper-r4 {
    position: relative;
    z-index: 3;
    // max-width: 530px;
    width: 100%;
    height: 100%;

    .guess-song-slide-r4 {
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }
}
