@use '../src/variables' as var;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
}

body {
  overflow: hidden;
  font-optical-sizing: auto;
  min-width: 320px;
  height: 100%;
  height: '-webkit-fill-available';
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
