@use '../src/variables' as var;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

  scrollbar-width: none;
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  height: '-webkit-fill-available';
  overflow: hidden;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
