@use '../variables' as var;

.tv-container {
  position: relative;
  z-index: 80;
  width: 100vw;
  height: 100vh;

  // background-image: url('../assets/images/backgrounds/tv/not-found.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  .tv-frame {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/backgrounds/tv/tv.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .grid-buttons {
    position: absolute;
    top: 0;
    right: 15px;

    z-index: 2000;
    max-width: 130px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    .big-btn-container {
      padding: 20px 0px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 20px;
      justify-content: center;
      align-items: center;

      .big-btn {
        cursor: pointer;

        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .switch-channel-btn-container {
      padding: 20px 0px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 15px;
      justify-content: center;
      align-items: center;

      .switch-channel-btn {
        position: relative;
        padding: 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url('../assets/images/backgrounds/tv/switch_channel_btn.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        cursor: pointer;

        .switch-btn-number {
          width: 100%;
          font-family: 'Jura', sans-serif;
          font-size: 16px;
          font-weight: 700;
          text-align: center;

          color: var.$font-color;
        }
      }
    }

    .arrow-btn-container {
      display: flex;
      gap: 15px;
      justify-content: space-between;
      align-items: center;

      .switch-channel-btn {
        position: relative;
        width: 100%;
        padding: 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url('../assets/images/backgrounds/tv/switch_channel_btn.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        cursor: pointer;

        a {
          text-decoration: none;
          display: block;
          color: var.$font-color;
        }
      }
    }
  }

  .tv-layout {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 99;
    width: 100%;
    height: 100%;
  }
}
